<p class="lead">
  <strong>Introduction</strong>
  <small></small>
</p>

<blockquote>
  <p>To whom it may concern,</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As the property owners at 421 Albany Avenue, Haddon Township, NJ, we are requesting a review and adjustment to our assessment in two parts.</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First, we request that the assessment for the second half of 2013 be reverted to $252,400. The adjustment that occurred in October 2013 was unfair and we believe the accompanying tax adjustment of $859.69 should be refunded.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Second, we request that the assessment for 2014 be reduced. We understand the township’s need to have accurate assessments. However, we believe a fair assessment for our property for 2014 should be $275,000. This number would reflect what we feel is the fair market value of $340,000 and a ratio of 0.809.</p>

<p>
Please review the arguments and comparables.
</p>

<div class="btn-group">
  <button type="button" class="btn btn-default" ng-class="{active: (path=='/argue')}" ng-click="updatePath('/argue')">Arguments</button>
  <button type="button" class="btn btn-default" ng-class="{active: (path=='/compare')}" ng-click="updatePath('/compare')">Comparables</button>
</div>

<br/><br/>
<p>
Respectfully,<br/>
Peter Georgantas & Erika Joy Erb
</p>
</blockquote>
